
.col{
    width: 20%;
}

.header{
    width: 100%;
}
.row{
    margin-left: 10%;
    margin-right: 10%;
}
.t{
    margin-top: 15%;
    color: black;
}

.m{
    margin-top: 5%;
}

.a{
    text-decoration: solid;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 7%;
    text-align: center;
    font-size: 45px;
    margin-bottom: -19px;
    letter-spacing: 4px;
}
.b{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 45px;
    letter-spacing: 4px;
}
.c{
    margin-top: 1%;
    text-align: center;
    font-size: 18px;
}
.d{
    margin-top: 2%;
    text-align: center;
    
}
.btn{
    color: white;
    background-color: rgb(0, 0, 0);
    size: 10px;
}
.btn:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(145, 145, 145);
}
.e{
    font-size: 15px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 50px;
    margin-right: 50px;
}
.img{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
}
.full-width-image {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    width: 80%; /* Make the image span the full width */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Removes any extra spacing below the image */
} 

.img1-width{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 600px;
    display: block;
}
.icon{
    margin-top: 5%;
    margin-left: 60%;
}
.bi{
    margin-left: 10%;
}
.large-icon {
    font-size: 24px; 
}

.img2-width{
    margin-top: 5%;
    margin-left: 9%;
    margin-right: 4%;
    width: 83%;
    height: 500px;
    display: block;
} 

.img3-width{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    height: 100px;
    display: block; 
}
.img3-width{
   height: 200px;
}


.col-lg-3{
    width: 20%;
}
.c{
    width: 100%;
}
.f{
    margin-top: 5%;
    margin-bottom: 4%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
}

.image-row {
    margin-left: 8%;
    margin-right: 12%;
    display: flex;          
    gap: 30px;              
}

.col img {
    width: 100%;            
    height: 650px;            
}

.ii{
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 4%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}
.g{
    margin-top: 7%;
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.h{
    margin-top: -10px;
    margin-bottom: 7%;
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.i{
    margin-left: 10%;
    margin-top: 3%;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.iii{
    margin-left: 10%;
    margin-top: 8%;
    margin-bottom: 3%;
    font-size: 22px;
}
.j{
    margin-left: 10%;
    margin-top: 7%;
    margin-bottom: 4%;
    font-size: 22px;
}

.btn2{
    margin-left: 10%;
    /* border: 10px; */
    border-color: blueviolet;
    background-color: white;
}


.img4-width{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    height: 500px;
    display: block;
}

.coll{
    margin-top: 6%;
    /* gap: 5%; */
    margin-left: -1%;
    height: 450px;
    width: 100%;
}
/* .pp{
    position: absolute;
    top: 20%;
    left: 30%;
    background-color: lightgray;
} */

 .hk{
    margin-left: 10%;
    margin-top: 3%;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.custom-button {
    border: 2px solid white; /* Orange border color */
    background-color: white; /* White background */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 10px 20px;3+ 
}

  .container{
    margin-top: 10%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  body, html {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero-image1{
    background-image: url("./images/BBimage3.avif");
    margin-top: 11rem;
    height:25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 81%;
    margin-left: 19%;
  }
  .hero-image2{
    background-image: url("./images/BBimage.jpeg");
    margin-top: 11rem;
    height:25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 81%;   
    margin-left: 2%;
    margin-right: 10%;
  }

.mm{
    font-size: 20px;
    margin-top: 3%;
    margin-left: 19%;
    
}
.nn{
    font-size: 55px;
    margin-top: 4%;
    margin-left: 19%;
    font-family: 'Times New Roman', Times, serif;
}
.nn h2{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}

.nnn{
    font-size: 55px;
    margin-top: 4%;
    margin-left: 2%;
    font-family: 'Times New Roman', Times, serif;
    
}
.mmm{
    font-size: 20px;
    margin-top: 3%;
    margin-left: 2%;
}  
.mb{
    margin-top: -2%;
}
.nnn h2{
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    letter-spacing: 2px;
}
  .hero-text {
    text-align: center;
    position: relative;
    top: 65%;
    left: 72.05%;
    transform: translate;
    color: black;
    background-color: white;
    width: 10rem;
    padding:.4rem 0rem;
    margin-top: 5%;
  }
  .hero-text p{
    font-size: 17px;
    margin-left: -10%;
    margin-top: 10%;
  }
  .hero-text h1{
    margin-bottom: 10%;
  }
  
  .hero-text h1{
  margin-top:-1rem;
  }

  .subs input{
    height: 100%;
    width: 90%;
    text-align: center;
  }
  .subs button{
    margin-left: -5%;
  }
  
  .last{
    margin-top: 5%;
    margin-bottom: 2%;
  }
.in{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 7%;
}
.in input{
    color: blue;
}
.lbtn{
    margin-bottom: 3%;
}




